<header>
  <p>
    <label class="toggle-view" title="Conmutar vista lista/cuadricula">
        <input type="checkbox" id="view" value="cuadricula" data-type="flag"/>
        <span class="list-view" >☰</span>
        <span class="grid-view" >⌗</span>
    </label>

    <!--
    <a
      class="logo"
      href="{{PAGE_URL}}/films.rss"
      title="Suscríbete para recibir las novedades"
      ><img alt="RSS" src="rec/img/rss.svg"
    /></a>
    | --><a class="logo" href="{{REPO_URL}}" title="Código fuente"
      ><img src="rec/img/github.svg" alt="GitHub"
    /></a>
    | <span id="total">{{count}}</span> películas gratis
  </p>
</header>
