<!DOCTYPE html>
<html lang="es">

<head>
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <style id="removeIfJS">
    .displayIfJS {display: none;}
  </style>
  <script>
    document.getElementById("removeIfJS").remove();
    document.write("<style>.hideIfJS {display:none;}</style>");
  </script>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Cine gratuito</title>
  <meta name="Last-Modified" content="{{NOW.strftime('%Y-%m-%d %H:%M:%S')}}" />
  <link rel="stylesheet" href="rec/main.css" />
  <script src="info.js"></script>
  <script src="rec/supabase.js"></script>
  <script src="rec/main.js"></script>
  <style id="dynamicStyle"></style>
</head>

<body class="list">
  {% include "header.html" %}
  <main>
    <p>
        <div class="input">
        <label for="order">Ordenar por</label>
        <select id="order">
          <option value="publicacion" selected>🗓️ fecha de publicación</option>
          <option value="expiracion">⏳ fin de disponibilidad</option>
          <option value="duracion">⏱️ duración</option>
          <option value="estreno">🍿 año de estreno</option>
          <option value="titulo">🆎 título</option>
          <option value="director">🎥 director/a</option>
          <option value="puntuacion">⭐ puntuación</option>
          <!--option value="imdb">⭐ puntuación en IMDb</option>
          <option value="filmaffinity">💠 puntuación en FilmAffinity</option-->
        </select>
        </div>
        <div class="input">
        <label for="show">Ver</label>
        <select id="show">
          <option value="todo" selected>todo</option>
          <optgroup label="Genero">
          {% for g, c in genres.items() %}
          <option value="{{g|simplify}}">{{genres_unicode[g|simplify]}} {{g}} ({{c}})</option>
          {% endfor %}
          </optgroup>
          <optgroup label="País">
          {% for c, n in countries.items() %}
          <option value="{{c.spa|simplify}}">{{c.ico or "🏴‍☠️"}} {{c.spa}} ({{n}})</option>
          {% endfor %}
          </optgroup>
          <optgroup label="Proveedor">
          {% for p, c in providers.items() %}
          <option value="{{p|simplify}}">{{p}} ({{c}})</option>
          {% endfor %}
          </optgroup>
        </select>
        </div>
    </p>
    <div id="films">
      {% for f in fl %}
      <div class="film {{f.source}} {{f.get_provider()|simplify}} {%for g in f.genres %}{{g|simplify}} {%endfor%} {%for c in f.country %}{{c.spa|simplify}} {%endfor%}" id="{{f.source}}{{f.id}}">
        <h1 style="display: none">{{f.title}}</h1>
        <a class="poster" href="{{f.url}}"><img src="{{f.img}}" alt="Poster de {{f.title}}" title="{{f.title}}" loading="lazy" class="poster" {%if f.fallback%}data-fallback="{{f.fallback}}"{%endif%}/></a>
          <p class="botonera">
            {% if f.expiration %}<abbr class="expiration exp" title="Fecha de expiración {{f.expiration}}" data-expiration="{{f.expiration}}">⏳</abbr>
            {% else %}<abbr class="expiration no_exp" title="Disponible indefinidamente">∞</abbr>{% endif %}
            {{f.get_score().to_html()|safe}}
            {%if f.imdb%}{{f.imdb.to_html()|safe }} {% endif %}
            {%if f.filmaffinity%}{{f.filmaffinity.to_html()|safe}} {%endif%}
            {%if f.wiki%}{{f.wiki.to_html()|safe}} {%endif%}
            {%for g in f.genres %} <span class="genre {{g|simplify}}">{{g}}</span>{%endfor%}
          </p>
          <p>
          {{f.duration | frm_time | safe}}{%for c in f.country%} {{c.to_html()|safe}}{%endfor%} <span class="povider {{f.get_provider()|simplify}}">{{f.get_provider()}}</span></p>
          <p>
            <span>({{f.year}})</span> <b><a href="{{f.url}}" class="title">{{f.title}}</a></b>
          </p>
          <p><b>{{f.director|yjoin}}</b>{%if f.casting %} || <span>{{f.casting|yjoin}}</span>{% endif %}</p>
          <p>{{f.description}}</p>
          {%if f.alt %}
          <p>Otras versiones:{%for x in f.alt%}{% if loop.index>1 %},{%endif%} <a href="{{x.url}}">{{x.get_provider()}}</a>{%endfor%}</p>
          {%endif%}
      </div>
      {% endfor %}
    </div>
  </main>
  {% include "footer.html" %}
</body>

</html>
