<!DOCTYPE html>
<html lang="es">

<head>
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <style id="removeIfJS">
    .displayIfJS {display: none;}
  </style>
  <script>
    document.getElementById("removeIfJS").remove();
    document.write("<style>.hideIfJS {display:none;}</style>");
  </script>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Cine Gratis</title>
  <meta name="Last-Modified" content="{{NOW.strftime('%Y-%m-%d %H:%M:%S')}}" />
  <link rel="stylesheet" href="rec/main.css" />
  <script src="info.js"></script>
  <script src="rec/supabase.js"></script>
  <script src="rec/main.js"></script>
</head>

<body>
  {% include "header.html" %}
  <main>
    <p>
        <label for="order">Ordenar por</label>
        <select id="order" data-type="flag">
          <option value="publicacion" selected>fecha de publicación</option>
          <option value="expiracion">fecha fin de disponibilidad</option>
          <option value="duracion">duración</option>
          <option value="estreno">año de estreno</option>
          <option value="titulo">título</option>
          <option value="director">director/a</option>
          <option value="genero">genero</option>
          <option value="imdb">puntuación en IMDb</option>
        </select>
        <label for="view">Ver</label>
        <select id="view" data-type="flag">
          <option value="lista" selected>lista</option>
          <option value="cuadricula">cuadricula</option>
        </select>
    </p>
    <div id="films">
      {% for f in fl %}
      <div class="film" id="{{f.source}}{{f.id}}">
        <h1 style="display: none">{{f.title}}</h1>
        <a href="{{f.url}}"><img src="{{f.img}}" alt="Poster de {{f.title}}" title="{{f.title}}" loading="lazy" class="poster"/></a>
        <div>
          <p>{%for g in f.genres %} <span class="genre {{g|simplify}}">{{g}}</span>{%endfor%}</span> {%if f.imdbId%}<a class="imdb" href="https://www.imdb.com/es-es/title/{{f.imdbId}}">IMDb{%if f.imdbRate%} <span class="imdbRate" title="{{f.imdbRate}} sobre 10{%if f.imdbVotes%} en base a {{f.imdbVotes}} votos{%endif%}">{{f.imdbRate}}</span>{%endif%}</a> {%endif%}{%if f.filmaffinity%}<a title="Ficha filmaffinity" class="filmaffinity" href="https://www.filmaffinity.com/es/film{{f.filmaffinity}}.html">F</a> {%endif%}{%if f.wiki%}<a class="wiki" href="{{f.wiki}}">W</a> {%endif%}</p>
          <p><span class="duration">{{f.duration}} <abbr title="minutos">min</abbr></span>{%for c in f.country%} {{c.to_html()|safe}}{%endfor%}</p>
          <p>
            <span>({{f.year}})</span> <b><a href="{{f.url}}" class="title">{{f.title}}</a></b>
          </p>
          <p><b>{{f.director|yjoin}}</b>{%if f.director and f.casting %} || {%endif%}<span>{{f.casting|yjoin}}</span></p>
          <p>{{f.description}}</p>
          {% if f.expiration %}
          <!--p>Disponible hasta <span class="expiration">{{f.expiration}}</span></p-->
          {% endif %}
         </div>
      </div>
      {% endfor %}
    </div>
  </main>
  {% include "footer.html" %}
</body>

</html>
