<!DOCTYPE html>
<html lang="es">

<head>
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <style id="removeIfJS">
    .displayIfJS {display: none;}
  </style>
  <script>
    document.getElementById("removeIfJS").remove();
    document.write("<style>.hideIfJS {display:none;}</style>");
  </script>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Cine Gratis</title>
  <meta name="Last-Modified" content="{{NOW.strftime('%Y-%m-%d %H:%M:%S')}}" />
  <link rel="stylesheet" href="rec/main.css" />
  <script src="info.js"></script>
  <script src="rec/supabase.js"></script>
  <script src="rec/main.js"></script>
  <style id="dynamicStyle"></style>
</head>

<body>
  {% include "header.html" %}
  <main>
    <p>
        <label for="order">Ordenar por</label>
        <select id="order" data-type="flag">
          <option value="publicacion" selected>fecha de publicación</option>
          <option value="expiracion">fecha fin de disponibilidad</option>
          <option value="duracion">duración</option>
          <option value="estreno">año de estreno</option>
          <option value="titulo">título</option>
          <option value="director">director/a</option>
          <option value="genero">genero</option>
          <option value="imdb">puntuación en IMDb</option>
        </select>
        <label for="view">Ver</label>
        <select id="view" data-type="flag">
          <option value="lista" selected>lista</option>
          <option value="cuadricula">cuadricula</option>
        </select>
        <label for="show">Mostrar</label>
        <select id="show" data-type="flag">
          <option value="todo" selected>todo</option>
          {% for p, c in providers.items() %}
          <option value="{{p|simplify}}">{{p}} ({{c}})</option>
          {% endfor %}
        </select>
    </p>
    <div id="films">
      {% for f in fl %}
      <div class="film {{f.source}} {{f.get_provider()|simplify}}" id="{{f.source}}{{f.id}}">
        <h1 style="display: none">{{f.title}}</h1>
        <a class="poster" href="{{f.url}}"><img src="{{f.img}}" alt="Poster de {{f.title}}" title="{{f.title}}" loading="lazy" class="poster"/></a>
          <p class="botonera">
            {% if f.expiration %}<abbr class="expiration exp" title="Fecha de expiración {{f.expiration}}" data-expiration="{{f.expiration}}">⏳</abbr>
            {% else %}<abbr class="expiration no_exp" title="Disponible indefinidamente">∞</abbr>{% endif %}
            {%if f.imdb%}{{f.imdb.to_html() | safe }} {% endif %}{%if f.filmaffinity%}<a title="Ficha FilmAffinity" class="filmaffinity" href="https://www.filmaffinity.com/es/film{{f.filmaffinity}}.html">FA</a> {%endif%}{%if f.wiki%}{{f.wiki.to_html()|safe}} {%endif%}
            {%for g in f.genres %} <span class="genre {{g|simplify}}">{{g}}</span>{%endfor%}
          </p>
          <p>
          {{f.duration | frm_time | safe}}{%for c in f.country%} {{c.to_html()|safe}}{%endfor%} <span class="povider {{f.get_provider()|simplify}}">{{f.get_provider()}}</span></p>
          <p>
            <span>({{f.year}})</span> <b><a href="{{f.url}}" class="title">{{f.title}}</a></b>
          </p>
          <p><b>{{f.director|yjoin}}</b>{%if f.casting %} || <span>{{f.casting|yjoin}}</span>{% endif %}</p>
          <p>{{f.description}}</p>
          {%if f.alt %}
          <p>Otras versiones:{%for x in f.alt%} <a href="{{x.url}}">{{x.get_provider()}}</a>{%endfor%}</p>
          {%endif%}
      </div>
      {% endfor %}
    </div>
  </main>
  {% include "footer.html" %}
</body>

</html>
